# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[xX]64/
[xX]86/
[Bb]uild/
[bB]in/
[oO]bj/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# ASP.NET Core
project.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Logs
*.log

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Publish output
publish/
